In [ ]:
#problem3

In [1]:
import pandas as pd
import numpy as np

names = ['Student'+str(i) for i in range(1,11)]
subjects = ['Math', 'Science', 'History', 'English']
data = {
    'Name': np.random.choice(names, 10),
    'Subject': np.random.choice(subjects, 10),
    'Score': np.random.randint(50, 101, 10),
    'Grade': ''
}
df = pd.DataFrame(data)

In [ ]:
#3.1

In [2]:
def assign_grade(score):
    if score >= 90: return 'A'
    elif score >= 80: return 'B'
    elif score >= 70: return 'C'
    elif score >= 60: return 'D'
    else: return 'F'

df['Grade'] = df['Score'].apply(assign_grade)

In [ ]:
#3.2

In [3]:
print(df.sort_values('Score', ascending=False))

        Name  Subject  Score Grade
9   Student8  Science    100     A
5   Student5  History     96     A
6   Student6     Math     92     A
4   Student1     Math     86     B
7   Student7     Math     71     C
1   Student3  English     67     D
8   Student5  English     62     D
2   Student7     Math     60     D
3   Student2  Science     54     F
0  Student10  English     50     F

In [ ]:
#3.3

In [5]:
def pandas_filter_pass(dataframe):
    return dataframe[dataframe['Grade'].isin(['A', 'B'])]

In [ ]:
#3.4

In [4]:
print(df.groupby('Subject')['Score'].mean())

Subject
English    59.666667
History    96.000000
Math       77.250000
Science    77.000000
Name: Score, dtype: float64